# Node modules
node_modules/

# Build output
dist/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS generated
.DS_Store
Thumbs.db

# VSCode/editor configs
.vscode/
.idea/

# Environment & local config
.env
.env.local
*.local

# Mac cache
*.DS_Store

# Netlify (opsional jika pakai CLI deploy)
.netlify/

# Optional: coverage tools (jika pakai testing)
coverage/
